page-landing {
	#topButtons {
		vertical-align: middle;
		display: flex;
		flex-direction: column;
	}
	#topButtons button {
		flex: 1;
	}
}

// This file is part of the TabletopHelper application developed by Sampsa Kares, Saku Junni, Asko Mikkola, Joel Koskelainen.