page-education {
	#additem {
		vertical-align: middle;
		display: flex;

		flex-direction: column;
	}
	#additem button {
		flex: 1;
	}
}

// This file is part of the TabletopHelper application developed by Sampsa Kares, Saku Junni, Asko Mikkola, Joel Koskelainen.